<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Azure Batch Settings -->
    <add key="BatchAccountName" value="SET_ACCOUNT_NAME" />
    <add key="BatchAccountKey" value="SET_ACCOUNT_KEY" />
    <add key="BatchAccountUrl" value="SET_ACCOUNT_URL" />

    <!-- Azure Storage Settings -->
    <add key="StorageConnectionString" value="SET_STORAGE_CONNECTION_STRING" />
    <add key="SceneBlobContainerName" value="demoscenes" />
    <add key="FrameBlobContainerName" value="demoframes" />




  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>